:root {
	--background: #f6f6f6;
	--card: #fff;
    --border: #cccccc;
    --table-header : #e6e6e6;
	--primary-text: #000000;
    --secondary-text: #212121;
    --accent: #0275d8;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--primary-text);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:hover {
    text-decoration: none;
    color: var(--primary-text)
}

/* header */

#header {
    margin-top: 2%;
    margin-bottom : 2%;
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

/* search Bar */

.search-input {
    width: 85%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 98% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search-input:hover, .search-input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

/* category filters */

.filter-wrapper {
    width: 85%;
}

#categories, #duration {
    display: none;
}

.show #categories, .show #duration {
    display: block;
}

.durationToggler, .categoryToggler, .bookmarkToggler {
    width: 100%;
}

.durationToggler::after, .categoryToggler::after {
    font-family: "Font Awesome 5 Free"; 
    content: "\f078";
    margin-left: 0.4rem;
    float: right;
}

.show .durationToggler::after, .show .categoryToggler::after {
    font-family: "Font Awesome 5 Free"; 
    content: "\f077";
    margin-left: 0.4rem;
}

.filter {
    text-transform: capitalize;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.filter button {
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 2px;
    color: #222222;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    outline: none;
    padding: 0.313rem 1.438rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
}

.filter button:hover {
    border-color: #000000;
    color: black;
}

.filter button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.filter button.active {
    border-color: var(--primary-text);
    transform: scale(.96);
    cursor: pointer;
}

.condition {
    background-color: var(--background);
}

/* cards */

.cards a.btn {
    background: var(--accent);
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: var(--primary-text);
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}
.cards .no-touch a.btn:hover {
    background: var(--accent);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}
.cards .no-touch a.btn:active, .cards a.btn:active {
    background: var(--accent);
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    transform: translate3d(0, 1px, 0);
    transition: all 0.025s 0s ease-out;
}

div.cards {
    margin: 2rem auto;
    max-width: 960px;
    text-align: center;
    color: var(--primary-text);
}

.cards .card {
    background: var(--card);
    display: inline-block;
    margin: 8px;
    width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
}
.cards .card img {
    width: 298px;
}
.cards .card .card-image-holder {
    height: 0;
    padding-bottom: 75%;
}

/* bookmark toggler */

.image-wrapper {
    position: relative;
}
.bookmarker {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: right;
}

.checkbox-label {
    font-size: 1.2rem;
}

.checkbox-theme {
    display: none;
}

/* not bookmarked */
.checkbox-theme + label:before {
    content: "\f004";
    cursor: pointer;
    color: white;
}

/* bookmarked */
.checkbox-theme:checked + label:before {
    content: "\f004";
    cursor: pointer;
    color: red;
}

.cards .card div.card-title {
    background: var(--card);
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

.cards .card div.card-title .summary {
    height: 40px;
    overflow-y: auto;
}

.cards .card div.card-title .hashtags {
    height: 2.5rem;
    overflow-y: auto;
}

.cards .card div.card-title a.toggle-info {
    border-radius: 2rem;
    height: 2rem;
    padding: 0;
    position: absolute;
    right: 0.938rem;
    top: 0.75rem;
    width: 2rem;
}
.cards .card div.card-title a.toggle-info span {
    background: var(--card);
    display: block;
    height: 0.125rem;
    position: absolute;
    top: 1rem;
    transition: all 0.15s 0s ease-out;
    width: 0.75rem;
}
.cards .card div.card-title a.toggle-info span.left {
    right: 0.813rem;
    transform: rotate(45deg);
}
.cards .card div.card-title a.toggle-info span.right {
    left: 0.813rem;
    transform: rotate(-45deg);
    }
.cards div.card div.card-title h2 {
    width: 88%;
    height: 23px;
    overflow-y: hidden;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.cards div.card div.card-title p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.cards div.card div.card-title small {
    display: block;
    font-size: 0.7rem;
    letter-spacing: -0.025em;
}

.cards div.card div.card-title .time {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cards .card .recipeLink {
    background-color: var(--accent);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cards div.card .recipeLink:hover {
  background-color: rgb(2, 116, 216, .8)
}

.cards div.card div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
}
.cards div.card div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
}
.cards div.card div.card-flap {
    background: var(--card);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
}

.cards div.card div.card-flap h3 {
    font-family: Georgia, sans-serif;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -.5px;
    border-bottom: 1px solid var(--border);
}

.cards div.card.show div.card-flap {
    opacity: 1;
}
.cards div.card div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}
.cards div.card div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}
div.cards.showing div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
}
.cards div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;
}
.cards div.card.show h3 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-top: 1px solid var(--border);
}
.cards div.card.show .card-description.ingredient {
    font-size: 0.75rem;
    overflow-y: auto;
    max-height: 7rem;
}
.cards div.card.show div.card-title a.toggle-info {
    background: #ff6666 !important;
}
.cards div.card.show div.card-title a.toggle-info span {
    top: 0.938rem;
}
.cards div.card.show div.card-title a.toggle-info span.left {
    right: 0.563rem;
}
.cards div.card.show div.card-title a.toggle-info span.right {
    left: 0.563rem;
}
.cards div.card.show div.card-flap {
    background: var(--card);
    transform: rotateX(0deg);
}
.cards div.card.show div.flap1 {
    transition: all 0.3s 0s ease-out;
}
.cards div.card.show div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}

/************** RECIPE PAGE **************/

.recipe-wrapper {
    font-family: "Roboto", sans-serif;
    background-color: var(--card);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-wrapper .recipe-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.recipe-details-wrapper {
    font-size: 0.875rem;
    border-bottom: 1px solid var(--border);
}

.recipe-image img {
    width: 300px;
    height: 225px;
    overflow: hidden;
}

.recipe-description h3 {
    font-size: 20px;
    font-family: Georgia, sans-serif;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -.5px;
    margin: 5px;
    margin-bottom: 1rem;
}

.recipe-description p {
    font-size: 13px;
    margin: 5px;
}

.recipe-description-left {
    border-right: 1px solid var(--border);
}

@media screen and (max-width: 768px) {
    .recipe-description-left {
		border: none;
	}
    .filter button {
        font-size: 0.7rem;
    }
    .cards .card {
        background: var(--card);
        display: inline-block;
        width: 39vw;
        margin: 5px;
        perspective: 1000;
        position: relative;
        text-align: left;
        transition: all 0.3s 0s ease-in;
        z-index: 1;
    }
    .cards div.card div.card-title h2 {
        width: 100%;
        font-size: 0.8rem;
        height: 1.9rem;
        overflow: hidden;
    }
    .cards .card img {
        width: 38.5vw;
    }
    .cards .card .summary, .cards .card .hashtags, .cards .card .recipeLink {
        display: none;
    }
    .cards .card div.card-title a.toggle-info {
        position: absolute;
        right: 0.7rem;
        top: 2.7rem;
    }
}